@model Blog.Smoothies.Views.Blog.ViewModels.PostUtensilioViewModel

<div class="postsmall col-md-6">
    <a href="@Model.Link" target="_blank" rel="nofollow">
        <img src="@Model.Imagen.Url" alt="@Model.Imagen.Alt" />
    </a>
    <a href="@Model.Link" target="_blank" rel="nofollow">
        <h4>@Model.Nombre</h4>
    </a>
</div>
