@using Blog.Smoothies.Helpers
@using PagedList;

@model IPagedList<Blog.Modelo.Posts.LineaResumenPost>

@*Primera entrada del blog en gran*@

    @if (Model.Any())
    {
        var item = Model.First();

        <h3 class="typo">
            <a href="@Url.RutaUrlBlogPost(item.FechaPost, item.UrlSlug)">@item.Titulo</a>
        </h3>
                    @*<p class="lead">
                            by @item.Autor
                        </p>*@
                <p class="small grey">
                    <span class="glyphicon glyphicon-time"></span> @item.FechaPost.ToString("D")
                </p>

                <a href="@Url.RutaUrlBlogPost(item.FechaPost, item.UrlSlug)">
                    @Html.Raw(item.Subtitulo)
                    </a>
                    <a class="btn btn-default btn-sm text-uppercase smallest" href="@Url.RutaUrlBlogPost(item.FechaPost, item.UrlSlug)">Seguir leyendo <span class="glyphicon glyphicon-arrow-right"></span></a>
                    <hr>
                    }

                    @*Resta d'entrades en petit*@


                    @foreach (var item in Model.Skip(1))
                    {
                        <div class="col-md-6 clear-row">
                            <h4 class="typo">
                                <a href="@Url.RutaUrlBlogPost(item.FechaPost, item.UrlSlug)">@item.Titulo</a>
                            </h4>
                            @*<p class="lead">
                                    by @item.Autor
                                </p>*@
                            <p class="small grey">
                                <span class="glyphicon glyphicon-time"></span> @item.FechaPost.ToString("D")
                            </p>
                            <a href="@Url.RutaUrlBlogPost(item.FechaPost, item.UrlSlug)">
                                @Html.Raw(item.Subtitulo)
                            </a>

                            <a class="btn btn-default btn-sm text-uppercase smallest" href="@Url.RutaUrlBlogPost(item.FechaPost, item.UrlSlug)">Seguir leyendo <span class="glyphicon glyphicon-arrow-right"></span></a>
                        </div>
                    }

                    <!-- Pager-->
<div class="clearfix"></div>
                    <ul class="pager">
                        @if (Model.HasNextPage)
                        {
                            <li class="previous">
                                <a href="@Url.Action("Index", new {pagina = Model.PageNumber + 1})">&larr; Entradas más antiguas</a>
                            </li>
                        }
                        @if (Model.HasPreviousPage)
                        {
                            <li class="next">
                                <a href="@Url.Action("Index", new {pagina = Model.PageNumber - 1})">Entradas más recientes &rarr;</a>
                            </li>
                        }
                    </ul>

