@using Blog.Smoothies.Helpers
@using PagedList;

@model IList<Blog.Modelo.Posts.LineaResumenPost>



        @foreach (var item in Model)
        {
            <div class="col-md-6">
                <h4 class="typo">
                    <a href="@Url.RutaUrlBlogPost(item.FechaPost, item.UrlSlug)">@item.Titulo</a>
                </h4>
                @*<p class="lead">
                        by @item.Autor
                    </p>*@
                <p class="small grey">
                    <span class="glyphicon glyphicon-time"></span> @item.FechaPost.ToString("D")
                </p>
                <a href="@Url.RutaUrlBlogPost(item.FechaPost, item.UrlSlug)">
                    @Html.Raw(item.Subtitulo)
                    </a>
                    <a class="btn btn-default btn-sm text-uppercase smallest" href="@Url.RutaUrlBlogPost(item.FechaPost, item.UrlSlug)">Seguir leyendo <span class="glyphicon glyphicon-arrow-right"></span></a>
</div>
        }

    

