@using Blog.Smoothies.Helpers
@using PagedList;

@model IPagedList<Blog.Modelo.Posts.LineaPostCompleto>

@*Primera entrada del blog en gran*@

    @if (Model.Any())
    {
        Blog.Modelo.Posts.LineaPostCompleto item = Model.First();

        <h2 class="typo">
            <a href="@Url.RutaUrlBlogPost(item.FechaPost, item.UrlSlug)">@item.Titulo</a>
        </h2>
              
                <a href="@Url.RutaUrlBlogPost(item.FechaPost, item.UrlSlug)">
                    @Html.Raw(item.Subtitulo)
                    </a>
                    <div class="postcontent">
                        @Html.Raw(item.ContenidoHtml)
                    </div>

                    <hr>
                    }


                    @*Resta d'entrades en petit*@


                    @foreach (var item in Model.Skip(1))
                    {
                        @Html.Partial("_ItemLineaPostCompleto", item)
                    }

                  

