@using System.Web.Mvc.Html
@using Blog.Smoothies.Helpers
@model Blog.ViewModels.Categoria.CategoriaViewModel

@{
    ViewData["Title"] = Model.NombreCategoria;
}

@section metatags {
    @if (Model.ListaPosts.HasNextPage)
    {
       <link rel="next" href="@Url.RutaCategoria(Model.Id)?pagina=@(Model.ListaPosts.PageNumber + 1)" />
    }
    @if (Model.ListaPosts.HasPreviousPage)
    {
         if (Model.ListaPosts.PageNumber == 2)
         {
             <link rel="prev" href="@Url.RutaCategoria(Model.Id)" />
         }
         else
         {
             <link rel="prev" href="@Url.RutaCategoria(Model.Id)?pagina=@(Model.ListaPosts.PageNumber - 1)" />
         }

    }
}

<br />
<div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-8">

        <h2 class="page-header">
            Categoría: @Model.NombreCategoria
            @*<small>Secondary Text</small>*@
        </h2>

        <!-- First Blog Post -->
        @Html.Partial("_ListaPostsCategoria", Model.ListaPosts.ToList())


        <!-- Pager-->
        <div class="clearfix"></div>
        <ul class="pager">
            @if (Model.ListaPosts.HasNextPage)
            {
                <li class="previous">
                    <a href="@Url.RutaCategoria(Model.Id)?pagina=@(Model.ListaPosts.PageNumber + 1)">&larr; Entradas más antiguas</a>
                </li>
            }
            @if (Model.ListaPosts.HasPreviousPage)
            {
                <li class="next">
                    @if (Model.ListaPosts.PageNumber == 2)
                    {
                        <a href="@Url.RutaCategoria(Model.Id)">Entradas más recientes &rarr;</a>
                    }
                    else
                    {
                        <a href="@Url.RutaCategoria(Model.Id)?pagina=@(Model.ListaPosts.PageNumber - 1)">Entradas más recientes &rarr;</a>
                    }

                </li>
            }
        </ul>

    </div>
    @Html.Partial("_SidebarPrincipal")

</div>

