@model Blog.Smoothies.Views.Blog.ViewModels.DetallesPostBlogViewModel

@{
    ViewBag.Title = Model.Post.Titulo;
    ViewBag.MetaDescripcion = Model.Post.Descripcion;
    ViewBag.MetaPalabrasClave = Model.Post.PalabrasClave;
    ViewBag.ImagenPrincipal = Model.Post.UrlImagenPrincipal;
}

@if (Model.Post.EsMostrarDatosEstructurados)
{
    @section head
    {
        @(Model.Post.EsReceta ? 
              Html.Partial("_DatosEstructuradosReceta", Model.DatosEstructuradosReceta) : 
              Html.Partial("_DatosEstructuradosArticulo", Model))
    }
}

<br />
<div class="row">
    <!-- Blog Post Content Column -->
    <div class="col-lg-8">
        <!-- Blog Post -->
        <div>
            @Html.DisplayFor(m => m.Post, "DisplayPost")
        </div>

        <div>
            
            @for (int i = 0; i < Model.PostsSugeridos.Count; i=i+2)
            {
                var items = Model.PostsSugeridos.Skip(i).Take(2); 
            
                <div class="row">
                    @foreach (var item in items)
                    {
                        @Html.Partial("_ItemLineaResumenPost", item)
                    }

                </div>
            }
            

            @*@foreach (var item in Model.PostsSugeridos)
            {
                @Html.Partial("_ItemLineaResumenPost", item)
            }*@

        </div>

        <div class="clearfix"></div>


        <!-- Blog Comments -->
        <div class="well">
            @Html.Partial("_Disqus", Model.Post)
        </div>
    </div>

    @Html.Partial("_SidebarPrincipal")

</div>
<!-- /.row -->


