@model Blog.ViewModels.Blog.ListaPostsBlogCompletosViewModel


@{
    ViewBag.ImagenPrincipal = "https://bylauragarcía/content/imagenes/logo.png";
}


@section linksnextprev {
    @if (Model.ListaPosts.HasNextPage)
    {
        <link rel="next" href="@Url.Action("Index", new {pagina = Model.ListaPosts.PageNumber + 1})" />
    }
    @if (Model.ListaPosts.HasPreviousPage)
    {
        if (Model.ListaPosts.PageNumber == 2)
        {
            <link rel="prev" href="@Url.Action("Index")" />
        }
        else
        {
            <link rel="prev" href="@Url.Action("Index", new {pagina = Model.ListaPosts.PageNumber - 1})" />
        }

    }
}

<br />
<div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-8">
        
        <!-- First Blog Post -->
        @Html.Partial("_ListaPostsPrimeraDestacada", Model.ListaPosts)

        <!-- Pager-->
        <div class="clearfix"></div>

        <ul class="pager">
            @if (Model.ListaPosts.HasNextPage)
            {
                <li class="previous">
                    <a href="@Url.Action("Index", new {pagina = Model.ListaPosts.PageNumber + 1})">&larr; Entradas más antiguas</a>
                </li>
            }
            @if (Model.ListaPosts.HasPreviousPage)
            {
                <li class="next">

                    @if (Model.ListaPosts.PageNumber == 2)
                    {
                        <a href="@Url.Action("Index")">Entradas más recientes &rarr;</a>
                    }
                    else
                    {
                        <a href="@Url.Action("Index", new {pagina = Model.ListaPosts.PageNumber - 1})">Entradas más recientes &rarr;</a>
                    }



                </li>
            }
        </ul>



    </div>
    @Html.Partial("_SidebarPrincipal")

</div>