@using System.Web.Mvc.Html
@using Blog.Smoothies.Helpers
@model Blog.Smoothies.Views.Blog.ViewModels.BlogViewModel


@{
    ViewBag.ImagenPrincipal = "https://bylauragarcía/content/imagenes/logo.png";
}


@section linksnextprev {
    @if (Model.Posts.HasNextPage)
    {
        <link rel="next" href="@Url.Action("Index", new {pagina = Model.Posts.PageNumber + 1})" />
    }
    @if (Model.Posts.HasPreviousPage)
    {
        if (Model.Posts.PageNumber == 2)
        {
            <link rel="prev" href="@Url.Action("Index")" />
        }
        else
        {
            <link rel="prev" href="@Url.Action("Index", new {pagina = Model.Posts.PageNumber - 1})" />
        }

    }
}

<br />
<div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-8">

        @for (int i = 0; i < Model.Posts.Count; i=i+2)
        {
            var items = Model.Posts.Skip(i).Take(2); 
            
            <div class="row">
                @foreach (var item in items)
                {
                    @Html.Partial("_ItemLineaResumenPost", item)
                }

            </div>
        }

        @*@foreach (var item in Model.Posts)
        {
                @Html.Partial("_ItemLineaResumenPost", item)         
        }*@
       

        <!-- Pager-->
        <div class="clearfix"></div>

        <ul class="pager">
            @if (Model.Posts.HasNextPage)
            {
                <li class="previous">
                    <a href="@Url.Action("Index", new {pagina = Model.Posts.PageNumber + 1})">&larr; Entradas más antiguas</a>
                </li>
            }
            @if (Model.Posts.HasPreviousPage)
            {
                <li class="next">

                    @if (Model.Posts.PageNumber == 2)
                    {
                        <a href="@Url.Action("Index")">Entradas más recientes &rarr;</a>
                    }
                    else
                    {
                        <a href="@Url.Action("Index", new {pagina = Model.Posts.PageNumber - 1})">Entradas más recientes &rarr;</a>
                    }



                </li>
            }
        </ul>



    </div>
    @Html.Partial("_SidebarPrincipal")

</div>