@using Blog.Smoothies.Helpers
@using Blog.ViewModels.Sidebar
@model ArchivoEtiquetasViewModel

@{
    Layout = null;
}

@*<div class="well">
    <h4 class="color1">Archivo</h4>
    <div class="row">

        <ul class="list-unstyled">
            @foreach (ArchivoItemViewModel item in Model.ListaArchivo)
            {
                <li class="linkarchivo">
                    <a href="@Url.RutaUrlArchivo(anyo: item.Anyo, mes: item.Mes)">@item.NombreMes @item.Anyo (@item.NumPosts)</a>
                </li>
            }
        </ul>
    </div>
</div>*@


<div class="well dropdown archivo">
    <button class="btn btn-default btn-block dropdown-toggle" type="button" data-toggle="dropdown">
        Archivo
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        @foreach (ArchivoItemViewModel item in Model.ListaArchivo)
            {
            <li class="linkarchivo">
                <a href="@Url.RutaUrlArchivo(anyo: item.Anyo, mes: item.Mes)">@item.NombreMes @item.Anyo (@item.NumPosts)</a>
            </li>
        }
       
    </ul>
</div>
