@model Blog.ViewModels.Post.EditBlogViewModel

@{
    ViewBag.Title = "Edit";
}

@Scripts.Render("~/bundles/controlesedicion")
@Styles.Render("~/bundles/controlesedicioncss")
<script src="~/Scripts/ckeditor/ckeditor.js"></script>
<script src="~/Scripts/ckeditor/config.js"></script>

<h2>Edit</h2>


@using (Html.BeginForm("Edit", "Blogs"))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Post</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
       

        @Html.EditorFor(m => m.EditorBlog, "EditorBlog")
    
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

   

}
