@using Blog.Smoothies.Helpers
@{
    ViewBag.Title = "By Laura Garcia";
}

<div class="col-md-5">
    <img class="hidden-xs" src="~/Content/imagenes/Portada/foto1.jpg" alt="Crema de calabaza" />
</div>



<div class="col-md-4">
    <hr />
    <h1>"If it wasn't for people sharing recipes, mankind would not have survived"</h1>
    <p>Laurie Colwin</p>
    <hr />
    <img src="~/Content/imagenes/Portada/foto3.jpg" alt="Esparragos" />

</div>
<div class="col-md-3">
    <img class="hidden-xs" src="~/Content/imagenes/Portada/foto2.jpg" alt="Te matcha" />
    <hr />

    <img class="hidden-xs" src="~/Content/imagenes/Portada/foto4.jpg" alt="Bebé comiendo pan de trigo sarraceno" />
</div>

<div class="clearfix"></div>

<div class="subscripcionhome">
    <h2 class="bold">No te pierdas nada de <br />lo que se cuece por aquí</h2>
    <a class="btn btn-custom" href="http://eepurl.com/dtbNnD" target="_blank">Subscríbete a la newsletter</a>

    <p>Envío una al mes. Y es interesantísima, claro.</p>
</div>
<div class="clearfix"></div>
<div class="col-md-3">
    <hr />
    <h3 class="bold">Últimas publicaciones <br>en el blog</h3>
    <a href="@Url.Action("Index", "Blog")" class="btn btn-custom">Llévame al blog, por favor</a>

    <hr />
</div>

@foreach (var item in Model.UltimosPosts)
{
    <div class="col-md-3">
        <h4 class="typo"><a href="@UrlHelperExtension.RutaAmigable(Url, item.UrlSlug)">@item.Titulo</a></h4>

        <a href="@UrlHelperExtension.RutaAmigable(Url, item.UrlSlug)"> <img src="@item.UrlImagen" alt="@item.Titulo" /></a>
    </div>
}
<div class="clearfix"></div>



<div class="buscadorhome">

    <h2 class="bold">Quizá estás buscando otra cosa...</h2>

    @using (Html.BeginForm("Buscar", "Blog", FormMethod.Get))
    {
        <div class="input-group col-md-4 center-block">
            @Html.Editor("buscarPor", "AutocompleteMultipleBuscador", new
            {
                ajaxCallbackUrlAction = "QuickMultipleSearch",
                ajaxCallbackUrlController = "Tags"
            })



            <span class="input-group-btn center-block">
                <button class="btn btn-dark" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </span>

        </div>
    }
</div>

<div class="clearfix"></div>


<hr />
<h3 class="bold">Estas son las publicaciones más vistas</h3>


<div class="col-md-5">
    <h3 class="typo"><a href="https://bylauragarcia.com/pan-de-trigo-sarraceno/">Pan de trigo sarraceno fermentado</a></h3>
    <a href="https://bylauragarcia.com/pan-de-trigo-sarraceno/"> <img src="https://storagequedat.blob.core.windows.net/contenedorblog/1aeed8b2-0617-4410-b53c-cdd11929ce26_pandetrigosarraceno1.jpg" alt="Pan de trigo sarraceno fermentado" /></a>
    
    <h3 class="typo"><a href="https://bylauragarcia.com/salsa-queso-vegano/">Salsa de queso de anacardos</a></h3>
    <a href="https://bylauragarcia.com/salsa-queso-vegano/"> <img src="https://storagequedat.blob.core.windows.net/contenedorblog/2a0d9c16-1581-4b61-aaea-9de4a31a85db_quesoanacardos.jpg" alt="Salsa de queso de anacardos" /></a>

</div>

<div class="col-md-4">
    <h3 class="typo"><a href="https://bylauragarcia.com/yogur-leche-coco/">Yogur casero de leche de coco</a></h3>
    <a href="https://bylauragarcia.com/yogur-leche-coco/"> <img src="https://storagequedat.blob.core.windows.net/contenedorblog/d1e06c98-8a91-4d03-b802-13e33ddb7062_yogur.jpg" alt="Yogur casero de leche de coco" /></a>

    <h3 class="typo"><a href="https://bylauragarcia.com/crackers-trigo-sarraceno/">Crackers de trigo sarraceno</a></h3>
    <a href="https://bylauragarcia.com/crackers-trigo-sarraceno/"> <img src="https://storagequedat.blob.core.windows.net/contenedorblog/681b9839-74b5-427e-9a48-747280962f15_crackers.jpg" alt="Crackers de trigo sarraceno" /></a>
</div>

<div class="col-md-3">
    <h3 class="typo"><a href="https://bylauragarcia.com/kefir-leche-coco/">Kéfir de leche de coco, almendras y anacardos</a></h3>
    <a href="https://bylauragarcia.com/kefir-leche-coco/"> <img src="https://storagequedat.blob.core.windows.net/contenedorblog/632d942c-3cb6-4766-ab4f-e1543fd54296_kefir.jpg" alt="Kéfir de leche de coco, almendras y anacardos" /></a>

    <h3 class="typo"><a href="https://bylauragarcia.com/brownie-trigo-sarraceno/">Brownie sin gluten de trigo sarraceno</a></h3>
    <a href="https://bylauragarcia.com/brownie-trigo-sarraceno/"> <img src="https://storagequedat.blob.core.windows.net/contenedorblog/ceb125a4-3d26-4800-add0-89f77a49f06a_brownietrigosarraceno.jpg" alt="Brownie sin gluten de trigo sarraceno" /></a>
</div>



<div class="clearfix"></div>


@*
        Plantilla receptes més visitades
        <div class="col-md-3">
        <h3 class="typo"><a href=""></a></h3>
        <a href=""> <img src="" alt="" /></a>
    </div>*@



