@using Blog.Smoothies.Helpers
@{
    ViewBag.Title = "By Laura Garcia";
}

<div class="col-md-5">
    <img class="hidden-xs" src="~/Content/imagenes/Portada/foto1.jpg" alt="Crema de calabaza" />
</div>



<div class="col-md-4">
    <hr />
    <h1>"If it wasn't for people sharing recipes, mankind would not have survived"</h1>
    <p>Laurie Colwin</p>
    <hr />
    <img src="~/Content/imagenes/Portada/foto3.jpg" alt="Esparragos" />

</div>
<div class="col-md-3">
    <img class="hidden-xs" src="~/Content/imagenes/Portada/foto2.jpg" alt="Te matcha" />
    <hr />

    <img class="hidden-xs" src="~/Content/imagenes/Portada/foto4.jpg" alt="Bebé comiendo pan de trigo sarraceno" />
</div>

<div class="clearfix"></div>

<div class="subscripcionhome">
    <h2 class="bold">No te pierdas nada de <br />lo que se cuece por aquí</h2>
    <a class="btn btn-custom" href="http://eepurl.com/dtbNnD" target="_blank">Subscríbete a la newsletter</a>

    <p>Envío una al mes. Y es interesantísima, claro.</p>
</div>
<div class="clearfix"></div>
<div class="col-md-3">
    <hr />
    <h3 class="bold">Últimas publicaciones <br>en el blog</h3>
    <a href="@Url.Action("Index", "Blog")" class="btn btn-custom">Llévame al blog, por favor</a>

    <hr />
</div>

@foreach (var item in Model.UltimosPosts)
{
    <div class="col-md-3">
        <h4 class="typo"><a href="@UrlHelperExtension.RutaAmigable(Url, item.UrlSlug)">@item.Titulo</a></h4>

        <a href="@UrlHelperExtension.RutaAmigable(Url, item.UrlSlug)"> <img src="@item.UrlImagen" alt="@item.Titulo" /></a>
    </div>
}
<div class="clearfix"></div>



@*<div class="buscadorhome">
    
    <h2 class="bold">Quizá estás buscando otra cosa...</h2>
    
   
        <div class="input-group col-md-4 center-block">
            @Html.Editor("buscarPor", "AutocompleteMultipleBuscador", new
            {
                ajaxCallbackUrlAction = "QuickMultipleSearch",
                ajaxCallbackUrlController = "Tags"
            })
            @*    <input type="text" class="form-control" name="buscarPor" placeholder="Buscar">


            <span class="input-group-btn center-block">
                <button class="btn btn-dark" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </span>

        </div>
    </div>

    <div class="clearfix"></div>*@


