@model Blog.Smoothies.Views.UtensiliosGestion.ViewModels.CrearUtensilioViewModel

@{
    ViewBag.Title = "Crear utensilio";
}

@Scripts.Render("~/bundles/controlesedicion")
@Styles.Render("~/bundles/controlesedicioncss")

<h2>Crear utensilio</h2>

@using (Html.BeginForm("Crear", "UtensiliosGestion", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Crear utensilio</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        @Html.EditorFor(m => m.Editor, "EditorDeUtensilio")

    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
