@using LG.Web.Helpers
@using PagedList.Mvc
@model LG.Web.Views.UtensiliosGestion.ViewModels.ListaGestionDeUtensiliosViewModel
@{
    ViewBag.Title = "Lista de utensilios";
}


<h2>Utensilios (@Model.Utensilios.TotalItemCount)</h2>

<p>
    @using (Html.BeginForm())
    {
        @Html.EditorFor(m => m.BuscarPor)

        <input id="btnBuscar" name="boton" type="submit" value="Buscar" class="btn btn-default navbar-btn" /> @:&nbsp;&nbsp;|

        @Html.ActionLink("Crear nuevo", "Crear") @:&nbsp;&nbsp;|

        @Html.ActionLink("Categorías", "Index", "UtensiliosCategorias")
    }
</p>
<table class="table">
    <tr>
        <th style="width: 150px"></th>
        <th>
            Nombre
        </th>

    </tr>

@foreach (var item in Model.Utensilios) {
    <tr>
        <td>
            <div class="btn-group">
                @Html.ActionLink("Editar", "Editar", new { id = item.Id }, new { @class = "btn btn-default" })
               
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Acciones</span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        @Html.ActionLink("Eliminar", "Eliminar", new {id = item.Id})
                    </li>
                </ul>
            </div>
        </td>
        <td>
            @item.Nombre
        </td>
        <td>
            @item.Categoria
        </td>
       </tr>
}
    <tr>
        <td colspan="9">
            @Html.TotalesListaPaginada(Model.Utensilios, " {0} - {1} utensilios mostrados de {2}")
            @Html.PagedListPager(Model.Utensilios, pagina => Url.Action("Index", new { pagina }), new PagedListRenderOptions { Display = PagedListDisplayMode.IfNeeded })
        </td>

    </tr>

</table>
