@using Blog.Web.Helpers
@using PagedList.Mvc;
@using PagedList;

@model IPagedList<Blog.Modelo.Posts.LineaResumenPost>


        @foreach (var item in Model)
        {

            <h2>
                <a href="@Url.RutaUrlBlogPost(item.FechaPost, item.UrlSlug)">@item.Titulo</a>
            </h2>
            <p>
                <span class="glyphicon glyphicon-time"></span> Publicado el @item.FechaPost.ToString("D")
            </p>
            @Html.Raw(item.Subtitulo)
            <a class="btn btn-primary btn-sm" href="@Url.RutaUrlBlogPost(item.FechaPost, item.UrlSlug)">
                leer más<span class="glyphicon glyphicon-chevron-right"></span>
            </a>
            <hr style="border-color: black">
        }

  
