@model Blog.Web.ViewModels.Blog.ListaPostsBlogViewModel

@{
    ViewData["Title"] = "Blog";
}
<br/>
<div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-8">
        <!-- First Blog Post -->

        @foreach (var item in Model.ListaPosts)
        {

            <h2>
                <a href="@Url.RouteUrl("BlogPost", new { dia = item.FechaPost.Day, mes= item.FechaPost.Month, anyo =  item.FechaPost.Year, urlSlug = item.UrlSlug })">@item.Titulo</a>
            </h2>
            <p class="lead">
                by @item.Autor
            </p>
            <p><span class="glyphicon glyphicon-time"></span> Publicado el @item.FechaPost.ToString("D")
            </p>
            <hr>
            @Html.Raw(item.Subtitulo)
            <hr>
        }

        <!-- Pager
        <ul class="pager">
            <li class="previous">
                <a href="#">&larr; Older</a>
            </li>
            <li class="next">
                <a href="#">Newer &rarr;</a>
            </li>
        </ul> -->
    </div>
    @Html.Partial("_SidebarPrincipal")
   
</div>
