@model LG.Web.Views.UtensiliosCategorias.ViewModels.EliminarCategoriaUtensilioViewModel

@{
    ViewBag.Title = "Eliminar categoría de utensilio";
}

<h2>Eliminar</h2>

<h3>¿Estás segura de eliminar esta categoría de utensilio?</h3>
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.Nombre)
        @Html.HiddenFor(m => m.Url)


      
        <dl class="dl-horizontal">
            <dt>
                Nombre
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt>
                Url
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Url)
            </dd>


        </dl>
        <div class="form-actions no-color">
            <input type="submit" value="Sí quiero eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
