@using Blog.Servicios.Configuracion
@using Blog.Smoothies.Helpers
@using PagedList.Mvc
@model Blog.ViewModels.Post.ListaGestionPostsViewModel

@{
    ViewBag.Title = "Lista posts";
}

@section Scripts {
    <script id="dsq-count-scr" src="@($"https://{WebConfigParametro.DisqusShortname}.disqus.com/count.js")" async></script>
}

<h2>Posts (@Model.ListaPosts.TotalItemCount)</h2>

<p>
    @using (Html.BeginForm())
    { 
    @Html.EditorFor(m => m.BuscarPor, "AutocompleteMultipleBuscador", new
{
    ajaxCallbackUrlAction = "QuickMultipleSearch",
    ajaxCallbackUrlController = "Tags"
})

    <input id="btnBuscar" name="boton" type="submit" value="Buscar" class="btn btn-default navbar-btn"/>

    @Html.ActionLink("Crear nuevo", "Crear", "Borradores")
    }
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            Título
        </th>
        <th>
            Categorías
        </th>
        <th>
            Tags
        </th>
        <th>
            Fecha post
        </th>
        <th>
           Es borrador
        </th>
		<th>
           Rss Atom
        </th>
        <th>
            Fecha publicación
        </th>
        <th>
            Comentarios
        </th>
        <th></th>

    </tr>

@foreach (var item in Model.ListaPosts) {
    <tr>
        <td>
            @Html.ActionLink("Editar", "Edit", new {id = item.Id})
        </td>
        <td>
            @Html.ActionLink(item.Titulo, "Details", new {id = item.Id})

        </td>
        <td>
            @item.Categorias
        </td>
        <td>
            @item.Tags
        </td>
        <td>
            @item.FechaPost.ToShortDateString()
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.EsBorrador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EsRssAtom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaPublicacion)
        </td>
        <td>
            <a href="@($"{Url.RutaUrlBlogPost(item.FechaPublicacion, item.UrlSlug)}#disqus_thread")" data-disqus-identifier="@item.Id"></a>
        </td>
        <td>
            @Html.ActionLink("Eliminar", "Delete", new {id = item.Id})
        </td>

    </tr>
 
}
    <tr>
        <td colspan="9">
            @Html.TotalesListaPaginada(Model.ListaPosts, " {0} - {1} posts mostrados de {2}")
            @Html.PagedListPager(Model.ListaPosts, pagina => Url.Action("Index", new { pagina }), new PagedListRenderOptions { Display = PagedListDisplayMode.IfNeeded })
        </td>

    </tr>

</table>
