@model Blog.ViewModels.Post.PublicarPost
@{
    ViewBag.Title = "Publicar";
}

@Scripts.Render("~/bundles/controlesedicion")
@Styles.Render("~/bundles/controlesedicioncss")
<script src="~/Scripts/ckeditor/ckeditor.js"></script>
<script src="~/Scripts/ckeditor/config.js"></script>

<h2>Publicar</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Post</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.Id)
    
    <div class="form-group">
        @Html.LabelFor(model => model.FechaPost, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-xs-2">
            @Html.EditorFor(model => model.FechaPost, "DatePicker", new { htmlAttributes = new { @class = "form-control col-xs-2" } })
            @Html.ValidationMessageFor(model => model.FechaPost, "", new { @class = "text-danger" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.FechaPublicacion, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-xs-2">
            @Html.EditorFor(model => model.FechaPublicacion, "DatePicker", new { htmlAttributes = new { @class = "form-control col-xs-2" } })
            @Html.ValidationMessageFor(model => model.FechaPublicacion, "", new { @class = "text-danger" })
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-xs-2">
            @Html.EditorFor(model => model.EsRssAtom) Rss
        </div>
    </div>
    
    
    <input id="btnPublicarYVer" name="boton" type="button" value="Publicar y ver" class="btn btn-primary navbar-btn" />
    <input id="btnPublicarYMostrarHome" name="boton" type="button" value="Publicar y mostrar Home" class="btn btn-primary navbar-btn" />

</div>
}

<div>
    @Html.ActionLink("Volver a la lista de posts", "Index")
    @Html.ActionLink("Volver a la lista de borradores", "Index", "Borradores")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

   

}
