@model Blog.Smoothies.Views.Recetas.ViewModels.CrearRecetaViewModel

@{
    ViewBag.Title = "Crear receta";
}



@Scripts.Render("~/bundles/controlesedicion")
@Styles.Render("~/bundles/controlesedicioncss")
<script src="~/Scripts/ckeditor/ckeditor.js"></script>
<script src="~/Scripts/ckeditor/config.js"></script>

<h2>Crear receta</h2>

@using (Html.BeginForm("Crear", "Recetas", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Crear receta</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        @Html.EditorFor(m => m.EditorReceta, "EditorReceta")

    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
