@using LG.Web.Helpers
@model Blog.Modelo.Posts.LineaResumenPost

<div class="postsmall col-md-6">
    <h2 class="typo">
        <a href="@Url.RutaUrlBlogPost(Model.FechaPost, Model.UrlSlug)">@Model.Titulo</a>
    </h2>
  
    
    <a href="@Url.RutaUrlBlogPost(Model.FechaPost, Model.UrlSlug)">
        @Html.Raw(Model.Subtitulo)
    </a>

    <a class="text-uppercase smallest" href="@Url.RutaUrlBlogPost(Model.FechaPost, Model.UrlSlug)">Leer más</a>
</div>
