@model Blog.ViewModels.Blog.ResultadoBusquedaViewModel

@{
    ViewBag.Title = "Resultado búsqueda";
}


<br />
<div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-8">
        
        @for (int i = 0; i < Model.ListaPosts.Count; i=i+2)
        {
            var items = Model.ListaPosts.Skip(i).Take(2); 
            
            <div class="row">
                @foreach (var item in items)
                {
                    @Html.Partial("_ItemLineaPostCompleto", item)
                }

            </div>
        }

        @*@foreach (var item in Model.ListaPosts)
        {
            @Html.Partial("_ItemLineaPostCompleto", item)
        }*@

        <!-- Pager-->
        <div class="clearfix"></div>

        <ul class="pager">
            @if (Model.ListaPosts.HasNextPage)
            {
                <li class="previous">
                    <a href="@Url.Action("Buscar", new {buscarPor = Model.BuscarPor, pagina = Model.ListaPosts.PageNumber + 1})">&larr; Entradas más antiguas</a>
                </li>
            }
            @if (Model.ListaPosts.HasPreviousPage)
            {
                <li class="next">
                    <a href="@Url.Action("Buscar", new {buscarPor = Model.BuscarPor, pagina = Model.ListaPosts.PageNumber - 1})">Entradas más recientes &rarr;</a>
                </li>
            }
        </ul>

    </div>
    @Html.Partial("_SidebarPrincipal")

</div>


