@model LG.Web.Views.Utensilios.ViewModels.UtensiliosViewModel
@{
    ViewBag.Title = "Utensilios de cocina";
}

<h1>Utensilios de cocina</h1>

<div class="row">
    

    <div class="col-md-12">

    <p>Recibo muchas consultas sobre los utensilios de cocina que utilizo, así que aquí tienes algunos de mis favoritos.</p>

    </div>


@foreach (var categoria in Model.Categorias)
{
    <div class="col-md-12">

        <h2>@categoria.Nombre</h2>
        
        @foreach (var utensilio in categoria.Utensilios)
        {
            <div class="col-md-3 col-sm-6 productgrid">
                <a href="@utensilio.Link" target="_blank" rel="nofollow">
                    <img src="@utensilio.Imagen.Url" alt="@utensilio.Imagen"/>
                </a>
                <a href="@utensilio.Link" target="_blank" rel="nofollow">
                    <h4>@utensilio.Nombre</h4>
                </a>
            </div>
        }

    </div>
}




</div>
