 <footer class="footer">

    <div class="col-md-2">

        <a href="/"><img src="~/Content/imagenes/logowhite.png" alt="by Laura García" /></a>
    </div>

    <div class="col-md-4">
        <ul>
            <li>
                <a href="@Url.Action("Index", "Blog")" rel="nofollow">Blog</a>
            </li>
            <li><a href="http://eepurl.com/dtbNnD" target="_blank">Subscríbete a la newsletter</a></li>
            <li>
                <a href="@Url.Action("Index", "Videos")" rel="nofollow">Vídeos</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Libros")" rel="nofollow">Mis libros favoritos</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Hola")" rel="nofollow">Sobre mí</a>
            </li>

        </ul>

    </div>

     <div class="col-md-3">
        <ul>
            <li>
                <a href="@Url.Action("Index", "Contacto")" rel="nofollow">Contacto</a>
            </li>
            <li>
                <a href="@Url.Action("AvisoLegal", "Principal")" rel="nofollow">Aviso legal</a>
            </li>
            <li>
                <a href="@Url.Action("PoliticaCookies", "Principal")" rel="nofollow">Política de cookies</a>
            </li>
        </ul>
    </div>
     <div class="col-md-3 social">

         <a href="https://www.instagram.com/bylauragarcia/" target="_blank"><img src="~/Content/imagenes/instagram.png" alt="Instagram ByLauraGarcia" /></a>
         <a href="https://www.facebook.com/bylauragarcia/" target="_blank"><img src="~/Content/imagenes/facebook.png" alt="Facebook ByLauraGarcia" /></a>
         <a href="https://www.youtube.com/channel/UC4wuUM4KEEFFwr5os6ica4Q" target="_blank"><img src="~/Content/imagenes/Youtube.png" alt="YouTube ByLauraGarcia" /></a>

     </div>

         @*<div class="col-md-2 pull-right text-right">
            <a href="http://www.instagram.com/bylauragarcia" target="_blank">
                <img src="~/Content/imagenes/instagram_white.png" alt="by Laura García" />
            </a>
            <a href="http://www.facebook.com/bylauragarcia" target="_blank">
                <img src="~/Content/imagenes/facebook_white.png" alt="by Laura García" />
            </a>

        </div>*@
         <div class="clearfix"></div>

</footer>
