@model Blog.Modelo.Posts.Post




<!-- Blog Post -->
<!-- Title -->
<h2>@Html.DisplayFor(model => model.Titulo)</h2>
<!-- Author -->
@*<p class="lead">
        by <a href="#">@Html.DisplayFor(model => model.Autor)</a>
    </p>*@
<hr>
<!-- Date/Time -->
<p class="small text-uppercase">

    @if (User.Identity.IsAuthenticated)
    {
        <span class="pull-right">
            @Html.ActionLink("Editar", "Edit", "Posts", new { id = Model.Id }, null) |
            @Html.ActionLink("Eliminar", "Delete", "Posts", new { id = Model.Id }, null) |
            @Html.ActionLink("Volver al listado", "Index", "Posts")
        </span>
    }
</p>
@Html.Raw(Model.Subtitulo)
<!-- Preview Image
<img class="img-responsive" src="http://placehold.it/900x300" alt="">
<hr>-->
<!-- Post Content -->
<div class="postcontent">
    @Html.Raw(Model.ContenidoHtml)
</div>
@*@Html.Raw(Model.PostContenidoHtml)*@


<hr>

@if (User.Identity.IsAuthenticated)
{
    <p class="small text-uppercase">
        @Html.ActionLink("Editar", "Edit", "Posts", new { id = Model.Id }, null) |
        @Html.ActionLink("Eliminar", "Delete", "Posts", new { id = Model.Id }, null) |
        @Html.ActionLink("Volver al listado", "Index", "Posts")
    </p>
}
<br />



