@model Blog.Modelo.Posts.Post

        <!-- Blog Post -->
        <!-- Title -->
        <h2 class="color1">@Html.DisplayFor(model => model.Titulo)</h2>
        <!-- Author -->
        @*<p class="lead">
            by <a href="#">@Html.DisplayFor(model => model.Autor)</a>
        </p>*@
        <hr>
        <!-- Date/Time -->
        <p class="small grey"><span class="glyphicon glyphicon-time"></span> @Model.FechaPost.ToString("D")</p>
        @Html.Raw(Model.Subtitulo)
        <!-- Preview Image 
        <img class="img-responsive" src="http://placehold.it/900x300" alt="">
        <hr>-->
        <!-- Post Content -->
        @Html.Raw(Model.ContenidoHtml)

@if (User.Identity.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Editar", "Edit", "Posts", new { id = Model.Id }, null) |
        @Html.ActionLink("Volver al listado", "Index", "Posts")
    </p>
}
        <hr>
        <!-- Blog Comments -->
        <div class="well">
            @Html.Partial("_Disqus", Model)
        </div>
        
        @Html.Partial("_SyntaxHightLighter")


