@model Blog.Modelo.Posts.Post




<!-- Blog Post -->
<!-- Title -->
<h1>@Html.DisplayFor(model => model.Titulo)</h1>
<!-- Author -->
@*<p class="lead">
        by <a href="#">@Html.DisplayFor(model => model.Autor)</a>
    </p>*@
<hr>
<!-- Date/Time -->
<p class="small text-uppercase">

    @if (User.Identity.IsAuthenticated)
    {
        <span class="pull-right">
            @* ReSharper disable Mvc.ActionNotResolved *@
            @Html.ActionLink("Editar", "Edit", new {id = Model.Id}) |
            @Html.ActionLink("Eliminar", "Delete", new {id = Model.Id}) |
            @Html.ActionLink("Volver al listado", "Index")
            @* ReSharper restore Mvc.ActionNotResolved *@
        </span>
    }
    <br />
</p>
@Html.Raw(Model.Subtitulo)
<!-- Preview Image
<img class="img-responsive" src="http://placehold.it/900x300" alt="">
<hr>-->
<!-- Post Content -->
<div class="postcontent">
    @Html.Raw(Model.ContenidoHtml)
</div>
@*@Html.Raw(Model.PostContenidoHtml)*@


<hr>
<p class="small text-uppercase">

    @if (User.Identity.IsAuthenticated)
    {
        <span class="pull-right">
            @* ReSharper disable Mvc.ActionNotResolved *@
            @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = Model.Id }) |
            @Html.ActionLink("Volver al listado", "Index")
            @* ReSharper restore Mvc.ActionNotResolved *@
        </span>
    }
</p>
    <br />



