@model DisplayPostViewModel
@using Blog.Smoothies.Helpers
@using Blog.Smoothies.Views.Blog.ViewModels



<!-- Blog Post -->
<!-- Title -->
<h1>@Html.DisplayFor(model => model.Titulo)</h1>

@if (Model.Categorias.Any())
{
    <ul class="list-inline">
        @foreach (var categoria in Model.Categorias)
        {
            <li>
                <a href="@Url.RutaCategoria(categoria.UrlSlug)">@categoria.Nombre</a>
            </li>
        }
    </ul>
}

<!-- Author -->
@*<p class="lead">
        by <a href="#">@Html.DisplayFor(model => model.Autor)</a>
    </p>*@
<hr>
<!-- Date/Time -->
<p class="small text-uppercase">
    @* ReSharper disable Mvc.ActionNotResolved *@
    @if (Model.EsReceta)
    {
        @Html.ActionLink("Imprimir receta", "Imprimir", "Recetas", new { Model.RecetaId }, new { @class = "btn btn-dark", target = "_blank" })
    }
    @if (User.Identity.IsAuthenticated)
    {
        <span class="pull-right">

            @Html.ActionLink("Editar", "Editar", new { id = Model.Id }) |
            @Html.ActionLink("Eliminar", "Eliminar", new { id = Model.Id }) |
            @Html.ActionLink("Volver al listado", "Index")

        </span>
    }
    @* ReSharper restore Mvc.ActionNotResolved *@
    <br />
</p>
@Html.Raw(Model.Subtitulo)
<!-- Preview Image
<img class="img-responsive" src="http://placehold.it/900x300" alt="">
<hr>-->
<!-- Post Content -->
<div class="postcontent">
    @Html.Raw(Model.ContenidoHtml)
</div>
@*@Html.Raw(Model.PostContenidoHtml)*@


<hr>
<p class="small text-uppercase">
    @* ReSharper disable Mvc.ActionNotResolved *@
    @if (Model.EsReceta)
    {
        @Html.ActionLink("Imprimir receta", "Imprimir", "Recetas", new { Model.RecetaId }, new { @class = "btn btn-dark", target = "_blank" })
    }

    @if (User.Identity.IsAuthenticated)
    {
        <span class="pull-right">

            @Html.ActionLink("Editar", "Editar", new { id = Model.Id }) |
            @Html.ActionLink("Eliminar", "Eliminar", new { id = Model.Id }) |
            @Html.ActionLink("Volver al listado", "Index")

        </span>
    }
    @* ReSharper restore Mvc.ActionNotResolved *@
</p>
<br />

@if (Model.Utensilios.Any())
{
    @for (int i = 0; i < Model.Utensilios.Count; i=i+2)
     {
         var items = Model.Utensilios.Skip(i).Take(2); 
            
         <div class="row">
             @foreach (var item in items)
             {
                 @Html.Partial("_ItemUtensilioPost", item)
             }

         </div>
     }

}

         <br />


