<!DOCTYPE html>
<html lang="es">
<head>
    @if (Request != null && Request.Url != null && Request.Url.AbsoluteUri.Contains("azurewebsites.net"))
    {
        <META NAME="ROBOTS" CONTENT="NOINDEX,NOFOLLOW">
    }
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="p:domain_verify" content="92957699e08a4b05be4fa0e9b0fee111"/>
    
    <meta name="description" content="Maquetadora web, pianista y cocinillas. Mamá de Kai y loca de las plantas. Recetas sin gluten y sin azúcar."/>
    <meta name="keywords" content="paleo,recetas paleo,pan de trigo sarraceno,trigo sarraceno,pilea peperomioides,pilea,smoothies,recetas,batidos,superalimentos,superfoods,desayuno,yogur de leche de coco,leche de coco,sin gluten,sin azúcar,ghee, brownie">
    
    <meta name="author" content="Laura García">
    <title>@(string.IsNullOrEmpty(ViewBag.Title) ? "by Laura García" : ViewBag.Title)</title>
    <meta property="og: site_name" content="http://bylauragarcia.com/"/>
    <link rel="canonical" href="http://bylauragarcia.com"/>

    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")


    @Html.Partial("_GoogleAnalytics")

    @Html.Partial("_AceptarCookies")

</head>

<body>

    <div class="container body-content">

        <nav class="navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="navbar-collapse collapse navbar-right">
                    @Html.Partial("_MenuPrincipal")
                </div>
                <div class="navbar-header logo">
                    @*<h4 class="adjust color1">by</h4>
                    <h1 class="adjust"><a href="/">Laura <br />García </a></h1>*@
                    <a href="/"><img src="~/Content/imagenes/logo.png" alt="by Laura García" /></a>
                </div>
            </div>
        </nav>   


        @RenderBody()
        <div class="clearfix"></div>
        <hr />
        
        @Html.Partial("_Footer")

       
        <br />
        <p class="small grey">&copy; Laura García · Todos los derechos reservados </p>

        @*@Html.Partial("_LoginPartial")*@

    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
