
@{
    var currentController = (string)ViewContext.RouteData.Values["Controller"];
    const string activeClass = "active";
}

<ul class="nav navbar-nav">
    <li class="@(currentController == "Blog" ? activeClass : string.Empty)">
        @Html.ActionLink("Blog", "Index", "Blog")

    </li>



    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Categorías
            <span class="caret"></span>
        </a>
        @{ Html.RenderAction("Categorias", "Menu"); }

    </li>

    @*<li class="@(currentController == "Utensilios" ? activeClass : string.Empty)">
            @Html.ActionLink("Utensilios", "Index", "Utensilios")

        </li>*@

    <li class="@(currentController == "Vídeos" ? activeClass : string.Empty)">
        @Html.ActionLink("Vídeos", "Index", "Videos")

    </li>

    <li class="@(currentController == "Libros" ? activeClass : string.Empty)">
        @Html.ActionLink("Libros", "Index", "Libros")

    </li>


</ul>





@if (User.Identity.IsAuthenticated)
{


    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <ul class="nav navbar-nav navbar-right">
                <li class="@(currentController == "Tags" ? activeClass : string.Empty)">
                    <div class="centerer c">
                        @Html.ActionLink("Etiquetas", "Index", "Tags", null, new { @class = "custom-underline-text" })
                    </div>
                </li>
                <li class="@(currentController == "Categorias" ? activeClass : string.Empty)">
                    <div class="centerer c">
                        @Html.ActionLink("Categorías", "Index", "Categorias", null, new { @class = "custom-underline-text" })
                    </div>
                </li>
                <li class="@(currentController == "Posts" ? activeClass : string.Empty)">

                    <div class="centerer c">
                        @Html.ActionLink("Borradores", "Index", "Borradores", null, new { @class = "custom-underline-text" })
                    </div>

                </li>
                <li class="@(currentController == "Borradores" ? activeClass : string.Empty)">
                    <div class="centerer c">
                        @Html.ActionLink("Posts", "Index", "Posts", null, new { @class = "custom-underline-text" })
                    </div>

                </li>

                <li class="@(currentController == "Recetas" ? activeClass : string.Empty)">
                    <div class="centerer c">
                        @Html.ActionLink("Recetas", "Index", "Recetas", null, new { @class = "custom-underline-text" })
                    </div>
                </li>

                <li class="@(currentController == "UtensiliosCategorias" ? activeClass : string.Empty)">
                    <div class="centerer c">
                        @Html.ActionLink("Utensilios", "Index", "UtensiliosCategorias", null, new { @class = "custom-underline-text" })
                    </div>
                </li>
            </ul>
        </div>
    </nav>

}