
@{
    var currentController = (string)ViewContext.RouteData.Values["Controller"];
    const string activeClass = "active";
}

<ul class="nav navbar-nav">
    <li class="@(currentController == "Blog" ? activeClass : string.Empty)">
        @Html.ActionLink("Inicio", "Index", "Blog")
    </li>
        
         
    <li class="@(currentController == "Contacto" ? activeClass : string.Empty)">
        @Html.ActionLink("Contacto", "Index", "Contacto")
    </li>
   
    @if (User.Identity.IsAuthenticated)
    {
        <li class="@(currentController == "Tags" ? activeClass : string.Empty)">
            @Html.ActionLink("Etiquetas", "Index", "Tags")
        </li>
        <li class="@(currentController == "Posts" ? activeClass : string.Empty)">
            @Html.ActionLink("Posts", "Index", "Posts")
        </li>
    

    }
</ul>
