@model  Ac.Web.Controllers.PortadaController.PortadaViewModel
@{
    ViewBag.Title = "Programador .Net freelance · albertcapdevila.net";
}


<div class="col-md-5">
    <img class="hidden-xs img-responsive" src="~/Content/imagenes/Portada/foto1.jpg" alt="Programador freelance Barcelona Microsoft" />
</div>
<div class="col-md-4">
    <hr />
    <h1>¿Necesitas un programador?</h1>
    <p>
        Mi nombre es Albert Capdevila y<br /> soy programador .Net freelance.</>
        <hr />
        <img class="img-responsive" src="~/Content/imagenes/Portada/foto2.jpg" alt="Programador freelance Barcelona .net" />

</div>
<div class="col-md-3">
    <img class="hidden-xs img-responsive" src="~/Content/imagenes/Portada/foto3.jpg" alt="Programador freelance Barcelona Microsoft" />
    
    

    <div class="fraseHome">
        <blockquote>"La simplicidad es pre-requisito para la fiabilidad"<p class="small"> Edsger W. Dijkstra  </p></blockquote>
    </div>

    
    

    </div>


    <div class="clearfix"></div>

    <div class="subscripcionhome">
        <h2 class="bold">Subscríbete a la newsletter</h2>
        <a class="btn leermas" href="http://eepurl.com/dtboYz" target="_blank">Formulario de subscripción</a>

    </div>
    <div class="clearfix"></div>

    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-12">


            <h2>¿Cómo puedo ayudarte?</h2>
            <hr />
            <ul>
                <li>

                    Programo <b>aplicaciones orientadas a la gestión</b>, pero también realizo migraciones de datos, integraciones con aplicaciones externas, conectores, servicios, bases de datos, etc.

                </li>


                <li>

                    Participo y conozco el ciclo de vida completo del software.

                </li>
                <li>

                    Durante la fase de creación tomo requerimientos, propongo soluciones y <b>presento estimaciones al cliente</b>, explicando pros y contras y permitiendo escoger la mejor opción.

                </li>

                <li>

                    Durante las primeras fases de desarrollo diseño la arquitectura, la infraestructura, el funcional y la base de datos.

                </li>
                <li>

                    Soy capaz de entregar
                    <b>
                        soluciones económicas que se adaptan a las necesidades del cliente.
                    </b>

                </li>

                <li>

                    Me encanta resolver problemas buscando la solución más simple. Conozco y aplico principios de programación y patrones de diseño y los adapto según las necesidades.

                </li>

                <li>

                    Puedo definir los mecanismos de entrega del software y configurar y adaptar los sistemas para su funcionamiento.

                </li>
                <li>

                    Me gusta trabajar en equipo y transmitir todo el conocimiento adquirido. Así mismo estoy ávido de nuevos conocimientos y me siento en un continuo proceso de aprendizaje.

                </li>
                <li>Trabajo en remoto desde El Masnou (BCN), pero puedo desplazarme puntualmente si el proyecto lo requiere.</li>
            </ul>
            <br />


            @*<h4>
                Puedes contactar conmigo enviándome un <a href="mailto:albert@acapdevila.net" target="_blank">email</a>
            </h4>
            <h4>
                O utilizar el <a href="@Url.Action("Index", "Contacto")">formulario de contacto</a>
            </h4>*@



        </div>
        <div class="col-md-12">


            @Html.Partial("_StackTecnologico")

        </div>



  


    </div>




    <div class="clearfix"></div>
    <h2>Últimas entradas del <a class="color2" href="@Url.Action("Index", "Blog")">BLOG</a></h2>
    <hr />
    <!-- Blog Entries Column -->
    @foreach (var item in Model.UltimosPosts)
    {
        <div class="col-md-4">
            <h4 class="typo">
                <a href="@Url.RutaAmigable(item.UrlSlug)">@item.Titulo</a>
            </h4>
            
            @Html.Raw(item.Subtitulo)
            
            <br />
            <a class="leermas" href="@Url.RutaUrlBlogPost(item.FechaPost, item.UrlSlug)">
                leer más
            </a>
            <br/>
            <br/>
            @*<a href="@Url.RutaAmigable(item.UrlSlug)">
                <img src="@item.UrlImagen" alt="@item.Titulo"/>
            </a>*@
        </div>

       
    }
<div class="clearfix"></div>

<hr>
<article class="articulo">
    <!-- Blog Post -->
    <!-- Title -->
    <h1>@Html.DisplayFor(model => model.UltimoPostDeLecturasRecomendadas.Titulo)</h1>
    <!-- Author -->
    @*<p class="lead">
            by <a href="#">@Html.DisplayFor(model => model.Autor)</a>
        </p>*@
    <hr>

    @Html.Raw(Model.UltimoPostDeLecturasRecomendadas.SubtituloHtml)
    <!-- Preview Image
    <img class="img-responsive" src="http://placehold.it/900x300" alt="">
    <hr>-->
    <!-- Post Content -->
    @Html.Raw(Model.UltimoPostDeLecturasRecomendadas.ContenidoHtml)


    @Html.Partial("_SyntaxHightLighter")


</article>


<div class="clearfix"></div>