@model Blog.ViewModels.Post.ListaBorradoresViewModel

@{
    ViewBag.Title = "Borradores";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Crear")
</p>
<table class="table">
    <tr>
        <th style="width: 110px"></th>
        <th>
            Título
        </th>
        <th>
            Categorías
        </th>
        <th>
            Tags
        </th>
        <th>
            Fecha post
        </th>
        <th>
            Fecha publicación
        </th>

    </tr>

    @foreach (var item in Model.ListaPosts) {
        <tr>
            <td>
                <!-- Split button -->
                <div class="btn-group">
                    @Html.ActionLink("Editar", "Editar", new {id = item.Id}, new{@class= "btn btn-default" })
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Acciones</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            @Html.ActionLink("Publicar", "Publicar", "Posts", new { id = item.Id }, null)
                        </li>
                        @*<li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>*@
                        <li role="separator" class="divider"></li>
                        <li>
                            @Html.ActionLink("Eliminar", "Eliminar", new { id = item.Id })

                        </li>
                    </ul>
                </div>
            </td>
            <td>
                @Html.ActionLink(item.Titulo, "Detalles", new {id = item.Id})
            </td>
            <td>
                @item.Categorias
            </td>
            <td>
                @item.Tags
            </td>
            <td>
                @item.FechaPost.ToShortDateString()
            </td>
        
            <td>
                @Html.DisplayFor(modelItem => item.FechaPublicacion)
            </td>

        </tr>
    }

</table>
