@model Blog.Modelo.Posts.BlogEntidad

@{
    ViewBag.Title = "Details";
}


<br />
<div class="row">
    <!-- Blog Post Content Column -->
    <div class="col-lg-8">
        <!-- Blog Post -->
        @Html.DisplayFor(m => m, "DisplayBlog")
     </div>

    @Html.Partial("_SidebarPrincipal")

</div>
<!-- /.row -->
<div>
    <hr />
    <dl class="dl-horizontal">
      
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrlSlug)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrlSlug)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver al listado", "Index")
</p>
