@using Blog.Servicios.Configuracion
@using Blog.Web.Helpers
@model Blog.ViewModels.Post.ListaGestionPostsViewModel

@{
    ViewBag.Title = "Lista posts";
}

@section Scripts {
    <script id="dsq-count-scr" src="@($"https://{WebConfigParametro.DisqusShortname}.disqus.com/count.js")" async></script>
}

<h2>Lista posts</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Crear", "Borradores")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            Título
        </th>
        <th>
            Tags
        </th>
        <th>
            Fecha post
        </th>
        <th>
           Es borrador
        </th>
		<th>
           Rss Atom
        </th>
        <th>
            Fecha publicación
        </th>
        <th>
            Comentarios
        </th>
        <th></th>

    </tr>

@foreach (var item in Model.ListaPosts) {
    <tr>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.Id }) 
        </td>
        <td>
            @Html.ActionLink(item.Titulo, "Details", new {id = item.Id})

        </td>
        <td>
            @item.Tags
        </td>
        <td>
            @item.FechaPost.ToShortDateString()
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.EsBorrador)
        </td>
		  <td>
            @Html.DisplayFor(modelItem => item.EsRssAtom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaPublicacion)
        </td>
        <td>
            <a href="@($"{Url.RutaUrlBlogPost(item.FechaPublicacion, item.UrlSlug)}#disqus_thread")" data-disqus-identifier="@item.Id"></a>
        </td>
        <td>
            @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
        </td>

    </tr>
}

</table>
