@using Blog.Smoothies.Views.Recetas.ViewModels.Editores
@model EditorReceta

@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.AccionPost)
@Html.HiddenFor(model => model.AccionQuitarImagen)
@Html.HiddenFor(model => model.AccionSubirImagen)


<div class="form-group">
    @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
    </div>
</div>


<div class="form-group">
    @Html.LabelFor(model => model.AltImagen, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextBoxFor(model => model.AltImagen, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.AltImagen, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.UrlImagen, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.UrlImagen, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.UrlImagen, "", new { @class = "text-danger" })
    </div>
</div>


@if (Model.TieneImagen)
{
    <div class="form-group">
        @Html.Label("Imagen", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <img id="imagenReceta" src="@Model.UrlImagen" alt="@Model.AltImagen" class="img-responsive" />
            <br />
            <input type="submit" class="btn btn-danger" name="@Model.AccionQuitarImagen" value="Quitar imagen" />
        </div>
    </div>
}
else
{
    <div class="form-group">
        @Html.Label("Subir nueva imagen", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file"
                   id="seleccionarArchivo"
                   name="archivoImagen"
                   class="form-control"
                   onchange="(function () { $('#botonSubirImagen').click(); })();" />

            <input type="submit" id="botonSubirImagen" name="@Model.AccionSubirImagen" style="display: none" />
        </div>
    </div>
}





<div class="form-group">
    @Html.LabelFor(model => model.Autor, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextBoxFor(model => model.Autor, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Autor, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.CategoriaReceta, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextBoxFor(model => model.CategoriaReceta, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.CategoriaReceta, "", new { @class = "text-danger" })
    </div>
</div>


<div class="form-group">
    @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.FechaPublicacion, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-xs-2">
        @Html.EditorFor(model => model.FechaPublicacion, "DatePicker", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.FechaPublicacion, "", new { @class = "text-danger" })
    </div>
</div>


<div class="form-group">
    @Html.LabelFor(model => model.Keywords, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">

        @Html.TextBoxFor(model => model.Keywords, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Keywords, "", new { @class = "text-danger" })

    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Raciones, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">

        @Html.TextBoxFor(model => model.Raciones, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Raciones, "", new { @class = "text-danger" })

    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.TiempoPreparacion, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.TiempoPreparacion, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.TiempoPreparacion, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.TiempoCoccion, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.TiempoCoccion, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.TiempoCoccion, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Ingredientes, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">

        <div class="table-responsive">
            <table class="table table-condensed">
                <tbody id="lineasIngrediente">
                    @Html.EditorFor(m => m.Ingredientes)
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2">
                            @Html.LinkToAddNestedForm(m => m.Ingredientes, "Añadir", "#lineasIngrediente", ".editorIngrediente", "NombreIngrediente")
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>


<hr />
<div class="form-group">
    @Html.LabelFor(model => model.Instrucciones, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">

        <div class="table-responsive">
            <table class="table table-condensed">
                <tbody id="lineasInstruccion">
                    @Html.EditorFor(m => m.Instrucciones)
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2">
                            @Html.LinkToAddNestedForm(m => m.Instrucciones, "Añadir", "#lineasInstruccion", ".editorInstruccion", "Nombre")
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<hr />

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <ul class="nav navbar-nav navbar-right">
            @*<li>
                   <input id="btnModificarPublicacion" name="boton" type="submit" value="Modificar publicación" class="btn btn-default navbar-btn" />&nbsp;&nbsp;
                </li>*@
            <li>
                <input id="btnGuardarYSalir" name="@Model.AccionPost" type="submit" value="Guardar y ver" class="btn btn-default navbar-btn" />&nbsp;&nbsp;

                <input id="btnGuardar" name="@Model.AccionPost" type="submit" value="Guardar" class="btn btn-primary navbar-btn" />
            </li>
        </ul>
    </div>
</nav>

@if (Model.Id > 0)
{
    <script type="text/javascript">

        $(document).ready(function() {
            jQuery.validator.setDefaults({ ignore: [] });

            $("#btnGuardar").click(function(event) {

                $(this).val('Guardando...')
                    .prop('disabled', true);;

                event.preventDefault();

                Guardar();
            });

        });

        function Guardar() {
            $.ajax({
                type: "POST",
                url: "@Url.Action("Guardar", "Recetas")",
                data: $("form").serialize(),
                dataType: "html"
            }).done(function() {

                $("#btnGuardar")
                    .val("Guardado")
                    .prop('disabled', false)
                    .removeClass("btn-primary").addClass("btn-success");

                setTimeout(function() {

                    $("#btnGuardar")
                        .val("Guardar")
                        .removeClass("btn-success").addClass("btn-primary");

                }, 1000);


            }).fail(function() {
                    alert("Se ha producido un error inesperado.");
                    return false;
                }
            );
        }

    </script>
}