<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Blog sobre desarrollo en .Net y buenas prácticas de programación" />
    <meta name="keywords" content=".net,c#,patrones de diseño,principios de programación,programación">
    <meta name="author" content="Albert Capdevila">
    <title>@(string.IsNullOrEmpty(ViewBag.Title) ? "albertcapdevila.net" : ViewBag.Title)</title>
    <link rel="canonical" href="http://albertcapdevila.net" />


    @RenderSection("metatags", required: false)


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    
    @Html.Partial("_GoogleAnalytics")
    
    @Html.Partial("_AceptarCookies")

</head>

<body>
        <div class="navbar navbar-inverse">

            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @*<a href="/">
                        <img class="img-responsive navbar-brand" src="~/Content/imagenes/logo.png" alt="Albert Capdevila"/>
                    </a>*@
                    <a href="/" class="navbar-brand tipo color2">albertcapdevila<span class="color3">.net</span></a>
                    @*<a href="/" class="navbar-brand"><span class="glyphicon glyphicon-home"></span>&nbsp;albertcapdevila.net</a>*@
                </div>
                <div class="navbar-collapse collapse">
                    @Html.Partial("_MenuPrincipal")
                </div>
            </div>
        </div>

        <div class="container body-content">
            @RenderBody()
            <hr/>
            @Html.Partial("_Footer")
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>


        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
