<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Blog sobre desarrollo en .Net y buenas prácticas de programación" />
    <meta name="keywords" content=".net,c#,patrones de diseño,principios de programación,programación">
    <meta name="author" content="Albert Capdevila">
    <title>@(string.IsNullOrEmpty(ViewBag.Title) ? "albertcapdevila.net" : ViewBag.Title)</title>
    <link rel="canonical" href="http://albertcapdevila.net" />


    @RenderSection("metatags", required: false)


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")


    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-72966881-1', 'auto');
        ga('send', 'pageview');
    </script>
   
</head>

<body>
        <div class="navbar navbar-inverse navbar-fixed-top">

            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @*<a href="/">
                        <img class="img-responsive navbar-brand" src="~/Content/imagenes/logo.png" alt="Albert Capdevila"/>
                    </a>*@
                    <a href="/" class="navbar-brand tipo color2">albertcapdevila<span class="color3">.net</span></a>
                    @*<a href="/" class="navbar-brand"><span class="glyphicon glyphicon-home"></span>&nbsp;albertcapdevila.net</a>*@
                </div>
                <div class="navbar-collapse collapse">
                    @Html.Partial("_MenuPrincipal")
                </div>
            </div>
        </div>

        <div class="container body-content">
            @RenderBody()
            <hr/>
            <footer>
                <div class="container">
                  <div class="col-lg-3"><h3 class="color2">albertcapdevila<span class="color3">.net</span></h3></div> 
                    <div class="col-lg-3">
                        <ul>                           
                            <li>
                                <a href="https://github.com/acapdevila/Blog-MVC5" target="_blank">Github</a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/programadorwebalbertcapdevila/" target="_blank">Linkedin</a>
                            </li>
                            <li>
                                @Html.ActionLink("Contacto", "Index", "Contacto")
                            </li>
                           
                        </ul>
                    </div>


                </div>
            </footer>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>


        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
